/*  --bblue: #33379a;
  --borange: #fa592a;
  --bpink: #ec206f;
  --yellow: #f7b846;
  --turq: #83d8bb;
  --white:  #ffffff;
  --pink: #fcbdc7;
  --lighter pink: #f9e0e4;
  --gold: #e8c17e;
  --green: #7cb842;*/
